
#aggregator .feed-source .feed-title {
  margin-top: 0;

}
#aggregator .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#aggregator .feed-source .feed-icon {
  float: right;
  
  
}
.space1 { height:20px;
}
#aggregator .feed-item {
  margin-bottom: 1.5em;
  
}
#aggregator .feed-item-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
#aggregator .feed-item-meta, #aggregator .feed-item-body {
  margin-bottom: 0.5em;
}
#aggregator .feed-item-categories {
  font-size: 0.9em;
}
#aggregator td {
  vertical-align: top;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
.agg_menu:link
{
	COLOR: #FFFFFF; TEXT-DECORATION: none; 
}.agg_menu:visited
{
	COLOR: #FFFFFF; TEXT-DECORATION: none; 
}
.agg_menu:hover
{
	COLOR: #FFFFFF; TEXT-DECORATION: none; 
}
LI {
	LIST-STYLE-TYPE: none;
	 
}
A:hover {
	TEXT-DECORATION: underline
}

#wrapper {
	/*BACKGROUND: url(../../images/bg.gif) #fff repeat-x; WIDTH: 100%*/
}
 
HR {
	DISPLAY: none
}

 
.column { float: left; z-index:500; WIDTH: 17em;  height:475px; padding-bottom:50px; background-color:#EFF3F9;  margin-top:2em; margin-left:10px;    
}
.column H3 {
	PADDING-LEFT: 10px;      font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; margin-bottom:.5px; 
}
.column UL LI A {
	COLOR: #616161; }
.column UL {
   font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#EFF3F9; 
}
.column UL LI {
	PADDING-RIGHT: 5px; BORDER-TOP: #DEE7F3 1px solid; DISPLAY: block; PADDING-LEFT: 27px; BACKGROUND: url(bullet.gif) no-repeat 15px 9px;   PADDING-BOTTOM: 8px; PADDING-TOP: 8px; margin-left:-3.5em; 
}

.column123 { float: left; z-index:500; WIDTH: 90%;  height:80%; padding-bottom:50px; background-color:#EFF3F9;  margin-top:2em; margin-left:10px;    
}
.column123 H3 {
	PADDING-LEFT: 10px;      font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; margin-bottom:.5px; 
}
.column123 UL LI A {
	COLOR: #616161; }
.column123 UL {
   font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#EFF3F9; 
}
.column123 UL LI {
	PADDING-RIGHT: 5px; BORDER-TOP: #DEE7F3 1px solid; DISPLAY: block; PADDING-LEFT: 27px; BACKGROUND: url(bullet.gif) no-repeat 15px 9px;   PADDING-BOTTOM: 8px; PADDING-TOP: 8px; margin-left:-3.5em; 
}
 
.space-bar
{ float:left; position:relative; height:100px; width:300px;
}
 
 /*		PADDING-RIGHT: 5px;
	BORDER-TOP: #DEE7F3 1px solid;
	DISPLAY: block;
	PADDING-LEFT:27px;
	BACKGROUND: url(bullet.gif) no-repeat 15px 11px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	margin-left:-3.5em;*/


/* ================== top menu css =============== */
/* style the outer div to give it width */
.ball {font-size:11px; font-family:verdana, arial, sans-serif; font-weight:bold; height:25px;  }

/* remove all the bullets, borders and padding from the default list styling */
.ball ul {padding:0;margin:0;list-style-type:none; width:80%;       }

/* style the sub-level lists */
.ball ul ul {width:180px; border:1px solid #eee; border-width:1px 0 2px 0;    }

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown ball positon */
.ball ul li {float:left; height:21px; line-height:20px; border:1px solid #eee; margin-bottom:-4px;    }

/* style the sub level list items */
.ball ul ul li {display:block;width:180px; height:auto; line-height:1em; border:1px solid #eee; border-width:1px 2px 0 2px;   } 

/* style the links for the top level */
.ball a, .ball a:visited {display:block; float:left;height:auto;font-size:11px;text-decoration:none;color:#fff;background:#1792B9;padding:0 5px;}
.ball a.sub{background:#1792B9; padding-right:30px;}
.ball a.sub:visited {background:#1792B9; padding-right:30px;}
.ball a.sub:active {background:#A1A1A1; padding-right:30px;}
.ball a.sub:hover {background:#A1A1A1; padding-right:30px;}


/* style the sub level links */
.ball ul ul a, .ball ul ul a:visited {display:block;background:#1792B9; color:#000;width:170px; height:auto; line-height:20px; padding:0 5px 0 5px; color:#fff;}
* html .ball ul ul a, * html .ball ul ul a:visited  {width:149px; w\idth:170px;}


/* style the table so that it takes no part in the layout - required for IE to work */
.ball table {position:absolute; margin:0; top:0;left:0; width:0; height:0; font-size:1em; z-index:-1;   }

/* style the level hovers */

/* first */
* html .ball a:hover {color:#fff; position:relative; z-index:100;}
.ball li:hover {position:relative;}
.ball li:hover > a {color:#fff;}

/* second */
* html .ball ul ul a:hover{color:#fff;background:#B93D17;}
.ball ul ul li:hover > a {color:#fff;background:#B93D17; }



/* hide the sub levels and give them a positon absolute so that they take up no room */
.ball ul ul {visibility:hidden;position:absolute;height:0;top:19px;left:-2px;width:180px;}


/* make the second level visible when hover on first level list OR link */
.ball ul :hover ul{visibility:visible; height:auto;}

/*end*/


A.white:LINK {color: #fff; text-decoration : none;	font-family: verdana;	font-size: 12px;   }
A.white:ACTIVE, A.white:HOVER, A.white:FOCUS
                       {	
							color : #fff;	  
							font-family: verdana;	font-size: 12px; 
						}
A.white:VISITED {color : #fff;	text-decoration : none;	font-family: verdana;	font-size: 12px;   }





.more1 {  float: right; padding:0px 10px 5px 5px; background-color:#d8d8d8;     }
.news-head{ vertical-align:top;  padding:0 5px 0 5px; font-weight:bolder; height:35px; font-size:15px;}
.news { padding:0 5px 0 5px; height:25px; vertical-align:top; font-weight:normal; }
 .tbody1 {
  border-top: 0px;
}
.news-col { background-color:#EFF3F9 }

A.more12:LINK {color: #6B9CCE; text-decoration : none; font-size: 12px; font-weight:normal; }
A.more12:ACTIVE, A.white:HOVER, A.white:FOCUS
                       { 
       color : #6B9CCE;   
      font-size: 12px;
	   font-weight:normal; 
      }
A.more12:VISITED {color : #6B9CCE; text-decoration : none; font-weight:normal; font-size: 12px;       }


A.more123:LINK {color: #8E8F90; font-weight:bolder; text-decoration : none; font-family: verdana; font-size: 12px;    }
A.more123:ACTIVE, A.white:HOVER, A.white:FOCUS
                       { 
       color : #8E8F90;   
       font-family: verdana; font-size: 12px;   font-weight:bolder;
      }
A.more123:VISITED {color : #8E8F90; text-decoration : none; font-family: verdana;  font-weight:bolder; font-size: 12px;       }


.mo {   padding-right:5px; }